﻿@model PrototypeApp.BLL.DTOs.BlogPostDTO
@{
    var maxContentLengthShownInCharacters = 100;
}

<div class="col-md-4">
    <h2>@Model.Title</h2>
    <p>
        @Model.Content.Substring(0, Math.Min(@Model.Content.Length, maxContentLengthShownInCharacters))
    </p>
    <p><a class="btn btn-default" href="@Url.Action("Get", "BlogPostManagement", new { alias = Model.Alias })">Show post &raquo;</a></p>
</div>