﻿@{
    ViewBag.Title = "Credentials";
}
<h2>Credentials</h2>

<p>This is a small blog application. Use following credentials to sign in as an admin:</p>
<p>Email: admin@m.com</p>
<p>Password: qwerty</p>
