﻿@using PagedList.Mvc
@model PrototypeApp.Web.ViewModels.BlogPostsViewModel
@{
    ViewBag.Title = "Simple blog demo";
}

<div class="row jumbotron">
    <h2 class="pull-left" id="jumbotronHeader">Simple blog demo</h2>
    <div class="col-xs-3 pull-right">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("FilterParameters.Title", null, new { @class = "form-control", @placeholder = "Title..." })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div>
        }
    </div>
</div>
@for (int i = 0; i < Model.BlogPosts.PageSize / (double)3; i++)
{
    <div class="row">
        @if (Model.BlogPosts.ElementAtOrDefault(i * 3) != null)
        {
            @Html.Partial("BlogPost", Model.BlogPosts.ElementAt(i * 3))
        }
        @if (Model.BlogPosts.ElementAtOrDefault(i * 3 + 1) != null)
        {
            @Html.Partial("BlogPost", Model.BlogPosts.ElementAtOrDefault(i * 3 + 1))
        }
        @if (Model.BlogPosts.ElementAtOrDefault(i * 3 + 2) != null)
        {
            @Html.Partial("BlogPost", Model.BlogPosts.ElementAtOrDefault(i * 3 + 2))
        }
    </div>
}

<div class="row">
    @Html.PagedListPager(Model.BlogPosts, page => Url.Action("Index", new RouteValueDictionary(new Dictionary<string, object>()
    {
        {"FilterParameters.Title", @Model.FilterParameters.Title },
        {"PaginationModel.PageNumber", page },
        { "PaginationModel.RecordsPerPage", Model.BlogPosts.PageSize }
    })),
        new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 5, ContainerDivClasses = new List<string> { "pull-right right-spacing" } })
</div>