﻿@model PrototypeApp.Web.Models.BlogPosts.BlogPostModel
@{
    Layout = "../Shared/AdministrationLayout.cshtml";
    ViewBag.Title = "Add new post";
    bool titleHasError = ViewData.ModelState["Title"] != null && ViewData.ModelState["Title"].Errors.Count > 0;
    bool aliasHasError = ViewData.ModelState["Alias"] != null && ViewData.ModelState["Alias"].Errors.Count > 0;
    bool contentHasError = ViewData.ModelState["Content"] != null && ViewData.ModelState["Content"].Errors.Count > 0;
}

<div class="center height-match-parent">
    @using (Html.BeginForm("Add", "BlogPostManagement", FormMethod.Post, new { @class = "form-horizontal height-match-parent" }))
    {
        <h2>Add new post</h2>
        <div class="form-group @(titleHasError ? "has-error" : "")">
            @Html.ValidationMessageFor(m => m.Title)
            <div>
                @Html.LabelFor(m => m.Title, new { @class = "control-label col-xs-2" })
                <div class="controls col-xs-8">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
                </div>
            </div>
        </div>

        <div class="form-group @(aliasHasError ? "has-error" : "")">
            @Html.ValidationMessageFor(m => m.Alias)
            <div>
                @Html.LabelFor(m => m.Alias, new { @class = "control-label col-xs-2" })
                <div class="controls col-xs-8">
                    @Html.TextBoxFor(m => m.Alias, new { @class = "form-control", placeholder = "Alias" })
                </div>
            </div>
        </div>

        <div class="form-group @(contentHasError ? "has-error" : "")" id="contenFormGroup">
            @Html.ValidationMessageFor(m => m.Content)
            <div id="textAreaContainer">
                @Html.LabelFor(m => m.Content, new { @class = "control-label col-xs-2" })
                <div class="controls col-xs-8 height-match-parent">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "contentTextArea", placeholder = "Content" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-5">Add</button>
        </div>
    }
</div>