﻿@using PagedList.Mvc
@model PrototypeApp.Web.ViewModels.BlogPostsViewModel
@{
    Layout = "../Shared/AdministrationLayout.cshtml";
    ViewBag.Title = "Posts";
}
<div class="row spacing-top">
    <div class="col-xs-3">
        @using (Html.BeginForm("GetPosts", "BlogPostManagement", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("FilterParameters.Title", null, new { @class = "form-control", @placeholder = "Title..." })
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </span>
            </div>
        }
    </div>
    <a href="@Url.Action("Add")" class="btn btn-primary right-spacing col-xs-2 pull-right">Add post</a>
</div>
<table class="table table-hover text-center spacing-top" id="postsTable" data-page-size="@Model.BlogPosts.PageSize"
       data-current-page="@Model.BlogPosts.PageNumber" data-total-posts="@Model.BlogPosts.TotalItemCount">
    <thead>
        <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Author</th>
            <th class="text-center">Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blogPost in Model.BlogPosts)
        {
            <tr>
                <td>@blogPost.Title</td>
                <td>@blogPost.Author.Email</td>
                <td>@blogPost.CreationDate</td>
                <td>
                    <span class="glyphicon glyphicon-pencil edit-blog-post-icon" data-blogpostId="@blogPost.Id"></span>
                    <span class="glyphicon glyphicon-remove delete-blog-post-icon" data-blogpostId="@blogPost.Id"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    @Html.PagedListPager(Model.BlogPosts, page => Url.Action("GetPosts", new RouteValueDictionary(new Dictionary<string, object>()
    {
    {"FilterParameters.Title",@Model.FilterParameters.Title },
        {"PaginationModel.PageNumber", page },
        { "PaginationModel.RecordsPerPage", Model.BlogPosts.PageSize }
    })),
        new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 5, ContainerDivClasses = new List<string> { "pull-right right-spacing" } })
</div>
@Scripts.Render("~/bundles/BlogPostManagement")