﻿@{
    string currentActionName = this.ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/AppStyles")
    @Styles.Render("~/Content/Sidebar")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/eModal")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="navbar-administration">
    <div class="pull-left">
        @Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    </div>
    <div class="pull-right">
        @Html.Partial("LoginPartial")
    </div>
</div>
    <div class="container-fluid height-match-parent">
        <div class="row height-match-parent">
            <div class="col-xs-2 height-match-parent" id="siderbar-nav-block">
                <nav class="navbar navbar-inverse sidebar" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("Index", "Home")">
                                    Home<span class="menu-icon pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
                                </a>
                            </li>
                            <li class="@(currentActionName == "GetUsers" ? "active" : "")">
                                <a href="@Url.Action("GetUsers", "UserManagement")">
                                    Users<span class="menu-icon pull-right hidden-xs showopacity glyphicon glyphicon-user"/>
                                </a>
                            </li>
                            <li class="@(currentActionName == "GetPosts" ? "active" : "")">
                                <a href="@Url.Action("GetPosts", "BlogPostManagement")">
                                    Blog posts<span class="menu-icon pull-right hidden-xs showopacity glyphicon glyphicon-picture"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-xs-10" id="contentContainer">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

