﻿@using Microsoft.AspNet.Identity
@{
    string currentUserName = "";
    if (User.Identity.IsAuthenticated)
    {
        currentUserName = User.Identity.GetUserName();
    }
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("You are logged as " + @currentUserName + " (Log out)", "Logout", "Account")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    </ul>
}