﻿@model PrototypeApp.Web.Models.LoginModel

@{
    ViewBag.Title = "Sign in";
    bool emailHasError = ViewData.ModelState["Email"] != null && ViewData.ModelState["Email"].Errors.Count > 0;
    bool passwordHasError = ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors.Count > 0;
}
<div class="center">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <h2>Sign In</h2>
        <div class="form-group @(emailHasError ? "has-error" : "")">
            @Html.ValidationMessageFor(m => m.Email)
            <div>
                @Html.LabelFor(m => m.Email, new { @class = "control-label col-xs-4" })
                <div class="controls col-xs-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                </div>
            </div>
        </div>

        <div class="form-group @(passwordHasError ? "has-error" : "")">
            @Html.ValidationMessageFor(m => m.Password)
            <div>
                @Html.LabelFor(m => m.Password, new { @class = "control-label col-xs-4" })
                <div class="controls col-xs-4">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-xs-2 col-xs-push-5">Sign In</button>
        </div>
    }
</div>
