﻿body {
    padding-top: 50px;
}

.field-validation-error {
    color: #d61d14;
}

.center {
    text-align: center;
}

.accordion-header:active, .accordion-header:hover {
    background-color: #ddd;
}

.navbar-right {
    margin-right: 0;
}

.menu-icon {
    font-size: 16px;
}

.edit-user-icon {
    padding-right: 15px;
}

.edit-blog-post-icon {
    padding-right: 15px;
}

.spacing-top {
    margin-top: 25px;
}

.height-match-parent {
    height: 100%;
}

.right-spacing {
    margin-right: 7%;
}

#navbar-administration {
    background-color: #424242;
}

#siderbar-nav-block {
    padding-left: 0;
}

#contenFormGroup {
    height: 60%;
}

#contentTextArea {
    height: 100%;
    resize: none;
}

#contentContainer {
    height: 90%;
}

#textAreaContainer {
    height: 95%;
}

#jumbotronHeader {
    margin: 0;
}
