﻿@using Resources = PrototypeApp.BLL.Resources
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Edit user
                </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group" id="editModalEmailGroup">
                        <label for="editModalEmailInput" class="control-label">Email address</label>
                        <div>
                            <span class="field-validation-error" data-valmsg-for="editModalEmailInput" id="editModalEmailValidation" data-valmsg-replace="true"></span>
                        </div>
                        <input type="email" class="form-control" id="editModalEmailInput" placeholder="Enter email" />
                    </div>
                    <div class="form-group">
                        <label for="editModalRoleSelector">Role</label>
                        <select id="editModalRoleSelector" class="form-control">
                            <option>@Resources.Roles.Admin</option>
                            <option>@Resources.Roles.User</option>
                        </select>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="editModalSaveChanges">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>