﻿@using PagedList.Mvc
@model PrototypeApp.Web.ViewModels.GetUsersViewModel
@{
    Layout = "../Shared/AdministrationLayout.cshtml";
    ViewBag.Title = "Users";
}
<div class="row spacing-top">
    <div class="col-xs-3">
        @using (Html.BeginForm("GetUsers", "UserManagement", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("UserFilterParametersModel.Email", null, new { @class = "form-control", @placeholder = "Email..." })
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </span>
            </div>
        }
    </div>
    <button class="btn btn-primary right-spacing col-xs-2 pull-right" id="addUserButton">Add user</button>
</div>
<table class="table table-hover text-center spacing-top" id="usersTable" data-page-size="@Model.Users.PageSize"
       data-current-page="@Model.Users.PageNumber" data-total-users="@Model.Users.TotalItemCount">
    <thead>
        <tr>
            <th class="text-center">Email</th>
            <th class="text-center">Role</th>
            <th class="text-center">Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.CreationDate</td>
                <td>
                    @if (user.Email != @User.Identity.Name)
                    {
                        <span class="glyphicon glyphicon-pencil edit-user-icon" data-userid="@user.Id" data-user-email="@user.Email" data-user-role="@user.Role"></span>
                        <span class="glyphicon glyphicon-remove delete-user-icon" data-userid="@user.Id"></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    @Html.PagedListPager(Model.Users, page => Url.Action("GetUsers", new RouteValueDictionary(new Dictionary<string, object>()
    {
    {"UserFilterParametersModel.Email",@Model.UserFilterParameters.Email },
        {"PaginationModel.PageNumber", page },
        { "PaginationModel.RecordsPerPage", Model.Users.PageSize }
    })),
        new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 5, ContainerDivClasses = new List<string> { "pull-right right-spacing" } })
</div>
@Html.Partial("EditUserModal")
@Html.Partial("AddUserModal")
@Scripts.Render("~/bundles/UserManagement")